<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Thorb</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/styles.css">
        <script src="https://kit.fontawesome.com/7ffef3f02d.js" crossorigin="anonymous"></script>..
    </head>
    <body>
        <header>
            <div >
                <div class="logo"> 
                    <img src="images/logo.jpg" >
                </div>
                <div class="nombre" >
                    <div> <p>The House of the rising bands</p></div>
                </div>
                <section class="espacio"></section>
                <div class="cajamenu">
                <div class="menu">
                    <div class="burger-menu">
                        <i class="fa fa-bars burger"></i>
                    </div>
                    <div class = 'barraBusqueda'>
                        <input placeholder="Buscar productos o marcas" />
                        <button>
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                    <div class="carrito">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </div>   
            </div>
                <section class="banner"> 
                    <img class="imagen" src="images/banner.jpg" >
                </section>
                <p></p>
            </div>
           
        </header>
        <main class="principales">
            
                <div class="productosprincipales">
                    <div class="destacado1">
                        <img class= "imagen" src="images/banner_gorras.jpg">
                    </div>
                    <div class="destacado1">
                        <img class= "imagen" src="images/banner_remeras.jpg">
                    </div>
                    <div class="destacado1">
                        <img class= "imagen" src="images/banner_vinilos.jpg">
                    </div>
                    <div class="destacado1">
                        <img class= "imagen" src="images/banner_box.jpg">
                    </div>
                </div>
            
           
        </main>
        <footer class="footer">
            <h1>Newsletter</h1>
    
            <p>
                Suscríbete para recibir emails de THORB con noticias de nuestros artistas <br> ofertas y más.
            </p>
    
            <input class="search-bar-footer" type="text" placeholder="Correo"><button>Suscribirse</button>
    
            <h1>Redes Sociales</h1>
            <div>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
    
            </div>
    
            <p> Copyright 2022 The House of The Rising Bands. All rights reserved.</p>
    
        </footer>
        
    </body>
</html>