<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Thorb</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <script src="https://kit.fontawesome.com/812520ce34.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <section>
                <div class="main-bar">
                    <div class="logo"> 
                        <img src="images/logo.jpeg" >
                    </div>
                    <article class="low-main-bar">
                        <div class="burger-menu">
                            <i class="fa-solid fa-bars"></i>
                        </div>                    
                            <div class="form" action="#" method="GET">
                                <div class="input"><i class="fa fa-search"></i> Buscar productos, marcas y más</div>
                            </div>
                        <div class="cart">
                            <i class="fas fa-shopping-cart"></i>
                        </div>
                    </div>
                </div>
                <div class="nombre" >
                    <div class="lema"> 
                        <p>The House of the rising bands</p>
                    </div>
            </section>
        </header>
        <main>
           <section>
               <h2 class="titulo-carrito">Carrito</h2>
               <article class="products">
                   <img src="images/cuentito.jpg" alt="Kuelge">
                   <div class="main-article">
                       <h4 class="product">Album Cuentito, El kuelgue</h4>
                        <p class="price">$9.999</p>
                        <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil vero pariatur porro tenetur</p>
                        <p class="stock">Disponible</p>
                   </div>
                </article>
                <article class="edit-products">                                        
                        <span>
                            <button class="trash-can"><i class="fa-solid fa-trash"></i></button>
                        </span>
                        <span class="quantity">
                            <p>1</p>
                        </span>
                        <span>
                            <button class="plus"><i class="fa-solid fa-plus"></i></button>
                        </span>
                    </article>
                </div>
                <div class="options">
                 <p class="delete">Eliminar</p>
                 <p class="more">Más productos de la banda</p>
                </div>
                 </div>
                 
               <div class="delivery">
                <p>Envío: Calle Falsa 1234 locación $9.999</p>
                <h4>Total con envío $9.999</h4>
               </div>
               <div class="purchase-button">
                   <button>Continuar compra</button>
               </div>
           </section>
        </main>
        <footer class="footer">
            <h1>Newsletter</h1>
    
            <p>
                Suscríbete para recibir emails de The House of The Rising Bands con noticias de nuestros artistas, ofertas y más.
            </p>
    
            <input class="search-bar-footer" type="text" placeholder="Correo"><button>Suscribirse</button>
    
            <h1>Redes Sociales</h1>
            <div>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
    
            </div>
    
            <p>&copy; Copyright 2022 The House of The Rising Bands. All rights reserved.</p>
    
        </footer>        
    </body>
</html>