<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/stylesproducto.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7ffef3f02d.js" crossorigin="anonymous"></script>
    <link href="/css/normalize.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <header class="header">
        <img src="/images/logo.jpeg" alt="Logo de la empresa" class="logo">

        <nav class="nav-bar">
            <ul>
                <li><a href="#" class="hamburguesa">
                    <i class="fa-solid fa-bars"></i>
                </a></li>
                <li><input class="search-bar" type="text" placeholder="Buscar"><button>GO</button></li>
                <li><a href="#" class="carrito">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a></li>
            </ul>
        </nav>
    </header>

    

    <article class="articulo">
        <h2>Album Torches, Foster the People</h2>
        
        <div class="contenedor">

            <img id="img" src="/images/FosterThePeople.png" alt="">
            
            <div class="scroll">
                <a href="#"><img src="/images/FosterThePeople.png" alt=""></a>
                <a href="#"><img src="/images/FosterThePeople.png" alt=""></a>
                <a href="#"><img src="/images/FosterThePeople.png" alt=""></a>
            </div>

            <div class="descripcion">
                <h2>$999</h2>
                <p id="disponible">Disponible</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis impedit excepturi deserunt harum laborum cum quaerat quia nam eaque eos hic, iste porro ad? Non officia neque vel aperiam fuga?</p>
                <button class="boton">Agregar al carrito</button>
            </div>

            

        </div>
        <div class="similares">
            
            <p>Art1</p>
            <p>Art1</p>
            <p>Art1</p>
            
        </div>

        
    </article>
    

    <footer class="footer">
        <h1>Newsletter</h1>

        <p>
            Suscríbete para recibir emails de The House of The Rising Bands con noticias de nuestros artistas, ofertas y más.
        </p>

        <input class="search-bar-footer" type="text" placeholder="Correo"><button>Suscribirse</button>

        <h1>Redes Sociales</h1>
        <div>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>

        </div>

        <p>&copy; Copyright 2022 The House of The Rising Bands. All rights reserved.</p>

    </footer>
    
</body>
</html>