*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.header{
    padding-top: 0px;
    padding-bottom: 0px;
    
}


.header nav{
    background-color: #222222;
    padding-top: 15px;
    padding-bottom: 15px;

}



.logo{
    width: 100%;
    max-height: 10%;

}

.nav-bar ul{
    list-style: none;
    margin: 0px;
    padding: 0;
    display: flex;
    padding: 5px 0px;
    justify-content: space-around;
    
}



.hamburguesa{
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    font-size: 18px;   
}

.carrito{
    color: white;
    font-size: 18px;
}






.footer{
    text-align: center;
    background-color: #222222;
    color: white
}

.footer div{
    padding: 10px;
    padding-bottom: 20px;
    font-size: 30px;
}

.footer h1{
    font-size:18px;
    padding-top: 20px
}

.footer a{
    color:white
}



article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.registro{
    margin: 10%;
    border: solid 2px black;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);

}

.registro p{
    border-bottom: solid 2px black;
    text-align: center;
}

.login{
    margin: 10%;
    border: solid 2px black;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);

}

.login p{
    border-bottom: solid 2px black;
    text-align: center;
}

@media (min-width:600px){
    article{
        display: flex;
        flex-direction: row;
    }
    

    
}

@media (min-width: 1000px){
    article{
        max-width: 1000px;
        margin: auto;
        border-left: solid 1px #222222;
        border-right: solid 1px #222222;
    }
    header{
        max-width: 1000px;
        margin: auto;
    }

   
}